{% extends 'base.html' %}
{% load static %}

{% block titulo %} Homepage | InfoCargas{% endblock titulo %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/homepage/index.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/homepage/table.css' %}">
{% endblock head %}

{% block content %}
<header>
    <div class="head_totals">
        <!--Itens que fazem o display resumido de cargas -->
        <div class="head_totals-err">
            <h5>Cargas com Falha</h5>
            <h1>{{failedRefresh}}</h1>
        </div>

        <div class="head_totals-ps">
            <h5>Cargas Em Andamento</h5>
            <h1>20</h1>
        </div>

        <div class="head_totals-cp">
            <h5>Cargas Atualizadas</h5>
            <h1>{{completeRefresh}}</h1>
        </div>

        <div class="head_totals-ds">
            <h5>Cargas Desabilitadas</h5>
            <h1>17</h1>
        </div>
    </div>
</header>

<!--Section com conteudo vindo do banco-->
<section class="refreshes">
    <!--Tabela com os dados retornoados do banco-->
    <table class="refreshes-table">
        <!--Cabeçalho da tabela-->
        <tr class="refreshes-table-head">
            <th>NOME</th>
            <th>STATUS</th>
            <th>TIPO</th>
            <th>INICIO</th>
            <th>TEMPO TOTAL</th>
        </tr>
        {% for detalhe in historicoDetalhado %}
        <!--itens da tabela-->
        <tr class="refreshes-table-items">
            <td>{{ detalhe.dataset_name }}</td>
            <td>{{ detalhe.status }}</td>
            <td>{{ detalhe.refresh_type }}</td>
            <td>{{ detalhe.started_at }}</td>
            <td>{{ detalhe.total_time }}</td>
        </tr>
        {% endfor %}
    </table>

</section>
{% endblock content %}