{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{% static 'css/base/index.css' %}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/base/index.css' %}">
    <title>{% block titulo %} {% endblock %}</title>
 
    {% block head %} {% endblock %}
  </head>
  <body class="container">
    {% include 'navbar.html' %} 
    {% block content %} {% endblock %}
  </body>
</html>
